<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                        
<!-- 네임스페이스(사용영역) 설정 -->
<mapper namespace="com.classs.skhuter.mappers.NoticeMapper">
<!-- 투표부분 -->
 <select id="readVote" resultType="Vote">
SELECT vote_no as voteNo ,user_no as userNo,enroll_date as enrollDate,start_date as startDate,end_date as endDate, title, content, item1, item2, item3, item4, item5, item6
 from Vote
 </select>
<insert id="registeVote">
	INSERT INTO Vote
  (vote_no, user_no,  title, enroll_date,  start_date, end_date,  content, item1, item2, item3, item4,  item5, item6) 
VALUES (seq_Vote.nextVal, 1,#{title},sysdate,sysdate,sysdate,#{content},#{item1},#{item2},#{item3},#{item4},#{item5},#{item6})	
	</insert>

</mapper>