<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                        
<!-- 네임스페이스(사용영역) 설정 -->
<mapper namespace="com.classs.skhuter.mappers.UserMapper">

	<!-- 회원가입 -->
	<insert id="register">
	
	INSERT INTO Users (user_no, id, password, name, phone, grade, is_leave, status, secession) 
	VALUES (seq_Users.nextVal, #{id}, #{password}, #{name}, #{phone}, #{grade}, #{isLeave}, 0, 0)
	
	</insert>
	
	<!-- 가입 승인 후 계정 활성화 -->
	<update id="setStatus">
	
	UPDATE users SET status=1 WHERE id=#{id}
	
	</update>

	<!-- 회원 아이디 중복 체크 -->
	<select id="idCheck" resultType="String">
	
	SELECT name FROM users WHERE id=#{id}
	
	</select>

	<!-- 회원 목록 조회 -->
	<select id="userListAll" resultType="User">
	SELECT user_no as UserNo, id, password, name, phone, grade, is_leave as isLeave, status, takeover_code as takeoverCode, 
		   recent_login as recentLogin, session_key as sessionKey, session_limit as sessionLimit, secession
	FROM Users
	</select>
	
	<!-- 로그인 -->
	<select id="login" resultType="User">
	
	SELECT user_no as userNo, id, password, name 
	FROM Users 
	WHERE id=#{id} AND password=#{password}
	
	</select>
	
	<!-- 회원번호로 회원정보 조회-->
	<select id="get" resultType="User">
	
	SELECT user_no as UserNo, id, password, name, phone, grade, is_leave as isLeave, status, takeover_code as takeoverCode, 
		   recent_login as recentLogin, session_key as sessionKey, session_limit as sessionLimit, secession
	FROM Users
 	WHERE user_no=#{userNo}
	
	</select>
	
	<!-- 로그인한 사람의 세션키 세션리밋 업데이트 -->
	<update id="keepLogin">
	
	UPDATE Users 
	SET session_key =#{paramMap.sessionId}, session_limit=#{paramMap.sessionLimit}
	WHERE id=#{paramMap.id}
	
	</update>
	
	<!-- 로그인 쿠키에 기록된 값으로 사용자 조회 -->
	<select id="checkUserWithSessionKey" resultType="User">
	
	SELECT user_no as UserNo, id, password, name, phone, grade, is_leave as isLeave, status, takeover_code as takeoverCode, 
		   recent_login as recentLogin, session_key as sessionKey, session_limit as sessionLimit, secession
	FROM users 
	WHERE session_key =#{cookieValue} and session_limit> sysdate
	
	</select>
	
	<!-- 회원정보 수정 -->
	<update id="modify">
	
	UPDATE Users 
	SET password = #{password}, name = #{name}, phone = #{phone}, grade = #{grade}, is_leave = #{isLeave}
	WHERE id = #{id}
	
	</update>
	
	<!-- 아이디, 이름, 전화번호로 비밀번호 찾기 -->
	<select id="findPw" resultType="String">
	
	SELECT password 
	FROM Users 
	WHERE id=#{id} AND name=#{name} AND phone=#{phone}
	
	</select>
	
	<!-- 비밀번호 찾기 후 새로운 비밀번호 등록 -->
	<update id="createNewPw">
	
	UPDATE users SET password=#{password} WHERE id=#{id}
	
	</update>
	
	<!-- 회원 탈퇴 -->
	<update id="delete">
	
	UPDATE users SET secession = 1 WHERE user_no=#{userNo}
	
	</update>


</mapper>